body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

p {
    font-weight: bold;
    margin-top: 10px;
}